body {
  background-color: white;
   height: 100%;
  color: black;
  font-size: 25px;
  transition: 0.5s;
}

aside {
	display: block;
	width: 22%;
	float: right;
}

object {
	overflow:hidden;
}

.asidecontent{
	width: 100%;
	height: 1200px;
	overflow: hidden;
}

footer {
	padding: 0px;
	margin: 0;
}

.footerstuff {
	padding: 0px;
	height: 68px;
	width:100%;
	overflow: hidden;
}

ul {list-style-type: circle;}

li {
	font-family: "Roboto";
font-size: 16px;
font-weight: 400;
}

a {
	color: black;
	text-decoration:none; 
}

.link {
	color: #1a8cff;
	cursor: pointer;
}

code {
	padding: 7px;
	background: #3b3b3b;
	font-size: 18px;
	color: white;
	font-family: Source Code Pro;
}

pre {
	padding: 15px;
	background: #3b3b3b;
	font-size: 18px;
	color: white;
	font-family: monospace,monospace;
}

.page {
max-width: 1570px;
margin: auto;
padding: 10px;
}

.content {
max-width: 1270px;
margin: auto;
}

.contentwithaside {
	width: 78%;
}

@media only screen and (max-width:1270px) {

aside {
	display: none;
}

.contentwithaside {
	width: 100%;
}
	
}


.morebutton {
display: inline-block;
	cursor: pointer;
	float: left;
}

.morebutton:hover {
	transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hero-image {
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.dark-mode {
  background-color: #404040;
  color: white;
}

.footercontent {
	max-width: 1270px;
	margin: auto;
}

.socialbuttons {
float: right;
cursor: pointer;
}

.socialbutton {
	padding: 7px 20px 7px 20px; 
	cursor: pointer;
}

.socialbutton:hover {
	transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.footer {
	box-shadow: 0 -10px 16px 0 rgba(0,0,0,0.2);
padding: 10px;
  color: white;
  z-index:1;
  background-color: #4d4d4d;
  clear: both;
  position: relative;
}

.footersec2 {
	height: 48px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}

.headbutton {
	cursor: pointer;
	transition: 0.5s;
	display: inline-block;
 	padding-right: 20px;
	padding-left: 17px;
	padding-bottom: 4px;
}

.yt {
	cursor: pointer;
	transition: 0.5s;
	display: inline-block;
    padding-top: 0px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
}

.yt:hover {
	transition: 0.5s;
	background-color: #ff3300;
	transition: 0.5s;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.9);
	display: inline-block;
}

.headbutton:hover {
	transition: 0.5s;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.9);
	display: inline-block;
}

.nav_files:hover {
	transition: 0.5s;
	background-color: #e6b800;
}

.nav_articles:hover {
	transition: 0.5s;
	background-color: #0099ff;
}

.nav_home:hover {
	transition: 0.5s;
	background-color: #00b300;
}

.nav_tools:hover {
	transition: 0.5s;
	background-color: #ff3300;
}

.nav_files_selected {
	transition: 0.5s;
	background-color: #e6b800;
}

.nav_articles_selected {
	transition: 0.5s;
	background-color: #0099ff;
}

.nav_home_selected {
	transition: 0.5s;
	background-color: #00b300;
}

.nav_tools_selected {
	transition: 0.5s;
	background-color: #ff3300;
}

.headtext {
	padding-top: 0px;
	padding-left: 5px;
	display: inline-block; 
	line-height: 1px; 
	color: white; 
	font-weight: bold; 
	font-size: 14px;
}

.navbutton {
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

.navmenuframe {
	overflow: hidden;
	width: 500px;
	height: 60px;
    display: block;
}

.navmenudiv {	
  float: right;
  display: block;
}

.headerbutton {
  float: right;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

@media only screen and (max-width:700px) {
.headerbutton {
 display: none;
}

.navmenuframe {
 display: none;
}
}

.header-right {
  float: right;
}

.header {
  box-shadow: none;
  z-index:3;
  background-color:rgba(255, 99, 71, 0);
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.4s;
}

.logo {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 5px;	
}

.menubutton {
  padding-left: 20px;
}

.sidenav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 1);
  z-index:4;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #4d4d4d; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  z-index:2;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.5s;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenavbutton {
	padding-bottom: 15px;
}

.sidenavbuttons {
	padding-left: 30px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: 0.5s;
  padding: 20px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  font-size: 30px;
}


.quickbuttons  {
	float: left;
	padding: 30px 8px 8px 42px;
	color: #cccccc;
}
.quickbuttons2  {
	float: left;
	padding: 30px 8px 8px 25px;
	color: #cccccc;
}

.menubutton {
	color: #f1f1f1;
}


 
.card {
  /* Add shadows to create the "card" effect */
cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
}


/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.cardpadding {
  float: left;
  padding: 6px;
  width: 32%;
}

@media only screen and (max-width:1070px) {	
.cardpadding {
  float: left;
  padding: 5px 5px 5px 5px;
  width: 48%;
}	
}

@media only screen and (max-width:700px) {
.cardpadding {
  float: left;
  padding: 8px 8px 8px 8px;
  width: 100%;
}
}

.ghostcard {
 display: block;
 width: 32%;
 padding: 6px;
 float: left;
}

@media only screen and (max-width:1070px) {	
.ghostcard {
 display: none;
}	
}

.cardpadding2 {
  float: left;
  padding: 5px;
  width: 24%;
}

@media only screen and (max-width:1500px) {
.cardpadding2 {
  float: left;
  padding: 5px 5px 5px 5px;
  width: 48%;
}	
}

@media only screen and (max-width:1500px) {	
.cardpadding2 {
  float: left;
  padding: 5px 5px 5px 5px;
  width: 48%;
}	
}

@media only screen and (max-width:700px) {
.cardpadding2 {
  float: left;
  padding: 8px 8px 8px 8px;
  width: 100%;
}
}

.publishedtime {
	float: left;
}

.imagetext {
  text-shadow: 0px 0px 7px #000;
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 20px;
  right: 20px;
  text-align: left;
}

.imagetext2 {
	font-size: 20px;
  text-shadow: 0px 0px 7px #000;
  z-index: 2;
  position: absolute;
  bottom: 0px;
  left: 20px;
  right: 20px;
  text-align: left;
}

.cardimage {
position: relative;
  color: white;
	
}

.categorycardpadding {
	display: inline-block;
	padding: 8px 2px 8px 0px;
}


.darkcardimage {
	transition: 0.5s;
	filter: brightness(70%);
}

.darkcardimage:hover {
	transition: 0.5s;
	filter: brightness(100%);
}


.categorycard {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;

  cursor: pointer;
}

@media only screen and (max-width:900px) {
.categorycard {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;

  cursor: pointer;
}
}

.categorycard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.categorycardtext {
	padding: 0px 10px 0px 2px;
	display: inline-block;
	line-height: 2px;
	vertical-align: top;
}

.tagsection {
	float: none;
}

.articlebuttons {
	float: none;
	transition: 0.5s;
}

.cleartagbutton {
	display: none;
}

.comment-section {
	display: none;
}

/** Fonts **/

.oswald {
	font-family: "Oswald";
	padding: 0px 0px 20px 0px;
}

.opensans {
	font-family: "Open Sans";
	padding: 0px 0px 20px 0px;
}

.sourcecode {
	font-family: "Source Code Pro";
	font-size: 16px;
	width: auto;
	color: #3e3e3e;
	
}

.roboto {
	font-family: "Roboto";
}

/** Article page **/

.article{
	transition: 0.3s;
	width: 100%;	
	padding: 4px;
}

.articleinfo {
	padding: 20px 20px 20px 20px;
}

.allarticleinfo {

}

.robototitle {
	font-size: 30px;
}

p {
	padding: 5px 0px 5px 0px;
}

.alertcard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.alertcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.alertcontainer {
  padding: 0.1px 30px 4px 30px;
  line-height: 0;
}

.filedlcard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
}

.filedlcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.articlehorcardpadding {
	padding: 10px 0px 10px 0px;
}

.filedlcontainer {
  padding: 0.1px 30px 4px 30px;
  line-height: 0;
}

.dual-image {
	width: 47%;
}

@media only screen and (max-width:750px) {
.dual-image {
	width: 98%;
}
}

.triple-image {
	width: 31%;
}

@media only screen and (max-width:750px) {
.triple-image {
	width: 70%;
}
}

@media only screen and (max-width:550px) {
.triple-image {
	width: 99%;
}
}

.quad-image {
	width: 23%;
}

@media only screen and (max-width:800px) {
.quad-image {
	width: 40%;
}
}

@media only screen and (max-width:750px) {
.quad-image {
	width: 50%;
}
}

@media only screen and (max-width:550px) {
.quad-image {
	width: 70%;
}
}

.justify {
	text-align: justify;
}

.rightfloatimg {
	float: right;
	width: 35%;
	padding: 20px;
	padding-left: 40px;
}

.rightfloatimg2 {
	float: right;
	width: 44%;
	padding: 20px;
	padding-left: 40px;
}

.rightfloatimg3 {
	float: right;
	width: 55%;
	padding: 20px;
	padding-left: 40px;
}

.alertalongimage {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
}

@media only screen and (max-width:700px) {
.rightfloatimg {
	float: right;
	width: 98%;
}
}
@media only screen and (max-width:700px) {
.rightfloatimg3 {
	float: right;
	width: 98%;
}
.rightfloatimg2 {
	float: right;
	width: 98%;
	padding: 20px
}
.alertalongimage {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}
}

/** File manager **/
.filemgrdlcard {
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
}

.filemgrdlcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.hide {
display: none;
}

.filepath {
	height: 80px;
}

.filepathcontent {
	padding-left: 10px;
	padding-top: 6px;
	max-width: 1270px;
    margin: auto;
}

.buildsfor {
	max-width: 1270px;
    margin: auto;
}

@media only screen and (max-width:1400px) {
.filepathcontent {
	padding-left: 110px;
	padding-top: 6px;
	max-width: 1270px;
    margin: auto;
}
}

.asidecard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
}

.asidearticlecard {
	display: inline-block;
	cursor: pointer;
	padding:0px;
  transition: 0.5s;
}

.asidearticlecardpadding {
	padding:7px;
}

.asidearticlecard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

.asidecardpadding{
	padding-bottom: 20px
}

.authorcard{
	width:100%;
	height: 170px;
}

#disqus_thread a {
  color: #0099ff;
}